
{% if block.settings.grid_remove_spacing %}
{% if block.settings.title == blank %}
{% assign section_classes = '' %}
{% else %}
{% assign section_classes = 'section--padded section--no-bottom-padding' %}
{% endif %}
{% else %}
{% assign section_classes = 'section--padded' %}
{% endif %}

<div class="container-fluid {{settings.collection-widht-padding}} {{settings.collection-object-padding}} ">
  <div class="row">
    <section class="index-module section {{ section_classes }} {% if block.settings.use_secondary_background %}section--secondary{% endif %}">
      <div {% unless block.settings.grid_remove_spacing %}class="inner"{% endunless %}>
        {% if block.settings.title != blank %}
        <h2 class="section__title">{{ block.settings.title }}</h2>
        {% endif %}

        {% if block.settings.layout_mode == 'collage' %}
        <div class="collection collection--collage ftg">
          <div class="ftg-items">
            {% assign collection = collections[block.settings.collection] %}

            {% for product in collection.products %}
            {% include 'product_collage_item', show_vendor: block.settings.show_vendor, show_quick_shop: block.settings.show_quick_shop %}
            {% else %}
            {% for i in (1..6) %}
            <div class="collection__item product-tile tile">
              <a href="#" class="product-tile__link">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg product-tile__image item' | replace: '<svg', '<svg width="500" height="500"' }}

                <div class="product-tile__overlay">
                  <div class="product-meta product-meta--desktop">
                    {% if block.settings.show_vendor %}
                    <h2 class="product-meta__vendor" >{{ 'home_page.onboarding.brand_title' | t }}</h2>
                    {% endif %}

                    <h1 class="product-meta__title">{{ 'home_page.onboarding.product_title' | t }}</h1>

                    <div class="product-meta__prices">
                      <span class="product-meta__price" data-money-convertible>{{ 1990 | money }}</span>
                    </div>
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
            {% endfor %}
          </div>
        </div>
        {% else %}
        
          {% assign grid_items_per_row = block.settings.grid_items_per_row %}
          {% assign collection = collections[block.settings.collection] %}

          {% for product in collection.products %}
          {% include 'product_grid_item_bootstrap', show_vendor: block.settings.show_vendor, show_quick_shop: block.settings.show_quick_shop %}
          {% else %}
          {% assign two_rows_count = grid_items_per_row | times: 2 %}

          {% for i in (1..two_rows_count) %}
          <div class="collection__item product-item grid__cell 1/{{ settings.mobile_grid_items_per_row }} 1/{{ settings.tablet_grid_items_per_row }}--handheld 1/{{ grid_items_per_row }}--lap-and-up">
            <div class="product-item__inner">
              <a href="{{ product.url }}" class="product-item__image">
                {% capture current %}{% cycle 1, 2, 3, 4, 5, 6 %}{% endcapture %}
                {{ 'product-' | append: current | placeholder_svg_tag: 'placeholder-svg' }}
              </a>

              <div class="product-item__info">
                {% if block.settings.show_vendor %}
                <h3 class="product-item__vendor">{{ 'home_page.onboarding.brand_title' | t }}</h3>
                {% endif %}

                <h2 class="product-item__title">
                  <a href="#">{{ 'home_page.onboarding.product_title' | t }}</a>
                </h2>

                <span class="product-item__price" data-money-convertible>{{ 1990 | money }}</span>
              </div>
            </div>
          </div>
          {% endfor %}
          {% endfor %}

        {% endif %}
      </div>
    </section>
  </div>
</div>