
{% if collection.image %}
  {% assign collection_image = collection.image %}
{% else %}
  {% assign collection_image = collection.products.first.featured_image %}
{% endif %}

{% case grid_items_per_row %}
  {% when '2' %}
    {% assign image_size = '1200x' %}

  {% when '3' %}
    {% assign image_size = '1000x' %}

  {% when '4' %}
    {% assign image_size = '800x' %}

  {% when '5' %}
    {% assign image_size = '600x' %}

  {% when '6' %}
    {% assign image_size = '400x' %}
{% endcase %}

<div class="list-collections__item collection col-xs-6 col-xsm-6 col-sm-6 col-md-3" {{ block.shopify_attributes }}>
  <a href="{{ collection.url }}" class="collection__link">


    {% assign image_alt = collection_image.alt %}

    {% assign  image_url = collection_image | img_url: image_size %}
    {% assign  image_url_small = collection_image | img_url: '60x' %}
    {% assign  image_url_210 = collection_image | img_url: '210x' %}
    {% assign  image_url_420 = collection_image | img_url: '420x' %}
    {% assign  image_url_730 = collection_image | img_url: '730x' %}
    {% assign  image_url_1270 = collection_image | img_url: '1270x' %}

    <img  src="{{image_url_small}}" 
         data-srcset="{{ image_url_210 }} 210w, {{ image_url_420 }} 420w, {{ image_url_730 }} 730w, {{ image_url_1270 }} 1270w," 
         data-sizes="(min-width: 1024px) 25vw,(min-width: 600px) 33vw, 50vw"  alt="{{image_alt}}"
         class="lazy block_img_link_img" 
         />


{% comment %}
    <img class="collection__image item" src="{{ collection_image | img_url: image_size }}" alt="{{ collection_image.alt | escape }}">
{% endcomment %}

    <h3 class="collection__title">{{ collection.title }}</h3>
    {% comment %}  
    <div class="collection__overlay">
      <h3 class="collection__title">{{ collection.title }}</h3>
    </div>
    {% endcomment %}
  </a>
</div>