{% comment %} NEW SIDEBAR {% endcomment %}
<nav class="navigation-sidebar" role="navigation">
  {% comment %}
  The first level is a bit special because it is the one containing the cross to close the menu. Next levels are
  just recursive
  {% endcomment %}

  <header class="navigation-sidebar__header">
    <div class="navigation-sidebar__top">
      <a href="#" class="navigation-sidebar__close" data-action="close-navigation-sidebar">
        {% render 'icon' with 'close-thin' %}
      </a>

      <a href="#" data-action="rewind-navigation-sidebar" style="display: none">
        {% render 'icon' with 'arrow-left' %}
      </a>

      <span class="navigation-sidebar__current">
        <span class="navigation-sidebar__current-title"></span>
      </span>
    </div>

    {% if settings.navigation_sidebar_image %}
      <div class="navigation-sidebar__image">
        <div class="aspect-ratio" style="padding-bottom: {{ 100.0 | divided_by: settings.navigation_sidebar_image.aspect_ratio }}%">
          <img class="lazyload image--fade-in" data-src="{{ settings.navigation_sidebar_image | img_url: '650x300' }}" alt="{{ shop.name | escape }}">
        </div>
      </div>
    {% endif %}

    <div class="navigation-sidebar__search--mobile">
      {% render 'icon' with 'search' %}

      <form class="navigation-sidebar__search-form" action="{{ routes.search_url }}" method="GET" role="search">
        <input type="hidden" name="type" value="{{ settings.search_mode }}">
        <input type="search" name="q" class="search__input" autocomplete="off" autocorrect="off" aria-label="{{ 'layout.navigation.search_placeholder' | t }}" placeholder="{{ 'layout.navigation.search_placeholder' | t }}" value="{{ search.terms | escape }}">
      </form>
    </div>
  </header>

  {% assign handle = settings.navigation_menu | default: 'main-menu' %}
  {% assign sidebar_nav_linklist = linklists[handle] %}

  <div class="navigation-sidebar__lists">
    {% comment %}
    A complex thing in Kagami sidebar navigation is that each list is flatten to be able to provide the desired effect, and not nested into
    the DOM. To achieve that, we are doing various iterations
    {% endcomment %}

    <ul class="navigation-sidebar__list navigation-sidebar__list--active" tabindex="-1" data-nav-for="level-0" data-nav-name="{{ sidebar_nav_linklist.title | escape }}">
      {% for link in sidebar_nav_linklist.links %}
        <li class="navigation-sidebar__item {% if link.links != blank %}navigation-sidebar__item--expandable{% endif %}">
          <a href="{{ link.url }}" class="navigation-sidebar__link" {% if link.links != blank %}data-open-nav="level-1-{{ forloop.index0 }}" aria-haspopup="true"{% endif %}>
            <span class="navigation-sidebar__link-title">{{ link.title | escape }}</span>
            {% if link.links != blank %}{% render 'icon' with 'arrow-right' %}{% endif %}
          </a>
        </li>
      {% endfor %}

      {% comment %}For the first level, we also add some special links{% endcomment %}

      {% if shop.customer_accounts_enabled %}
        {% if customer %}
          <li class="navigation-sidebar__item">
            <a href="{{ routes.account_url }}" class="navigation-sidebar__link" >{{ 'customer.account.title' | t }}</a>
          </li>
        {% else %}
          <li class="navigation-sidebar__item">
            <a href="{{ routes.account_login_url }}" class="navigation-sidebar__link" >{{ 'customer.login.title' | t }}</a>
          </li>
        {% endif %}
      {% endif %}
    </ul>

    {% comment %}To output second level, we iterate only in those that have links{% endcomment %}

    {% for link in sidebar_nav_linklist.links %}
      {% if link.links == blank %}
        {% continue %}
      {% endif %}

      <ul class="navigation-sidebar__list" tabindex="-1" data-nav-for="level-1-{{ forloop.index0 }}" data-nav-name="{{ link.title | escape }}" data-parent-nav="level-0">
        {% for sub_link in link.links %}
          <li class="navigation-sidebar__item {% if sub_link.links != blank %}navigation-sidebar__item--expandable{% endif %}">
            <a href="{{ sub_link.url }}" class="navigation-sidebar__link" {% if sub_link.links != blank %}data-open-nav="level-2-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" aria-haspopup="true"{% endif %}>
              <span class="navigation-sidebar__link-title">{{ sub_link.title | escape }}</span>
              {% if sub_link.links != blank %}{% render 'icon' with 'arrow-right' %}{% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    {% endfor %}

    {% comment %}To output third level, we iterate only in link that have links that have links (:D){% endcomment %}

    {% for link in sidebar_nav_linklist.links %}
      {% if link.links == blank %}
        {% continue %}
      {% endif %}

      {% for sub_link in link.links %}
        {% if sub_link.links == blank %}
          {% continue %}
        {% endif %}

        <ul class="navigation-sidebar__list" tabindex="-1" data-nav-for="level-2-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}" data-nav-name="{{ sub_link.title | escape }}" data-parent-nav="level-1-{{ forloop.parentloop.index0 }}">
          {% for sub_sub_link in sub_link.links %}
            <li class="navigation-sidebar__item">
              <a href="{{ sub_sub_link.url }}" class="navigation-sidebar__link">
                <span class="navigation-sidebar__link-title">{{ sub_sub_link.title | escape }}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endfor %}
    {% endfor %}
  </div>
</nav>