{% case grid_items_per_row %}
{% when '1' or 1 %}
    {% assign image_size = '1400x' %}

  {% when '2' or 2 %}
    {% assign image_size = '1000x' %}

  {% when '3' or 3 %}
    {% assign image_size = '650x' %}

  {% when '4' or 4 %}
    {% assign image_size = '650x' %}

  {% when '5' or 5 %}
    {% assign image_size = '650x' %}

  {% when '6' or 6 %}
    {% assign image_size = '650x' %}
{% endcase %}

{% case settings.mobile_grid_items_per_row %}
{% when '1' or 1 %}
    {% assign mobile_image = 'col-xs-12' %}

  {% when '2' or 2 %}
    {% assign mobile_image = 'col-xs-6' %}

{% endcase %}



{% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
  {% assign product_on_sale = true %}
{% else %}
  {% assign product_on_sale = false %}
{% endif %}


{% assign teaser_size ='single' %}
{% for tag in product.tags %}
  {% if tag contains '__big' %}
  	{% assign teaser_size = 'double' %}
	{% assign image_size = '1000x' %}
  {% break %}
  {% endif %}
{% endfor %}


<div class="collection__item product-item {{teaser_size}} {% unless product.available %}product-item--sold-out{% endunless %} {% if teaser_size == 'double' %} col-xs-12 col-sm-12 col-md-8{% else %}{{mobile_image}} col-xsm-6 col-sm-6 col-md-3 {% endif %}">
  
  {% comment %}
  grid__cell 1/{{ settings.mobile_grid_items_per_row }} 
  1/{%if grid_items_per_row == '1' %}{{ grid_items_per_row }}
  {% else %}{{ settings.tablet_grid_items_per_row }}{% endif %}--handheld 1/{{ grid_items_per_row }}--lap-and-up %}
  {% endcomment %}
  
  <div class="product-item__inner">
    
    <div class="product-item__labels">

      {% for tag in product.tags %}
        {% if tag contains '__label' %}
          <div class="product-item__label">
            <span class="label label--custom">{{ tag | split: '__label:' | last }}</span>
          </div>
          {% break %}
        {% endif %}
      {% endfor %}
      

      {% if product_on_sale %}
      {% comment %}
        <div class="product-item__label">
          <span class="label label--on-sale">{{ 'product.labels.on_sale' | t }}</span>
        </div>
      {% endcomment %}
      {% comment %}
      {% elsif product.available == false %}
        <div class="product-item__label">
          <span class="label label--sold-out">{{ 'product.labels.sold_out' | t }}</span>
        </div>
      {% endcomment %}
      {% endif %}
      
       
      {% if product.available and show_quick_shop %}
      <div class="product-item__quick-shop">
        <div class="product-item__label product-item__label--hidden">
          <button class="label label--quick-shop" data-action="open-quick-shop" data-quick-shop-url="{{ product.url | append: '?view=quick_shop' }}">
            {% include 'icon' with 'cart-empty' %}{{ 'product.labels.quick_shop' | t }}
          </button>
        </div>
      </div>
      {% endif %}
        
    </div>
          	
    <a href="{{ product.url | within: collection }}" class="product-item__image">
      <div class="product-item__image-wrapper">
        {% if teaser_size == 'double' %}
        	<img  src="{{ product.images.last | img_url: image_size,format: 'pjpg' }}" alt="{{ product.images.last.alt | escape }}" />
        {% else %}
        	<img src="{{ product.featured_image | img_url: image_size,format: 'pjpg' }}" alt="{{ product.featured_image.alt }}">
            {% if product.images.size >= 2 %} 
                <img class="second-product-image" src="{{  product.images[1] |  img_url: image_size,format: 'pjpg' }}" alt="{{ product.featured_image.alt | escape  }}"/>
            {% endif %}
        {% endif %}
      </div>
    </a>

    <div class="product-item__info">
      {% if show_vendor and product.vendor != blank %}
        <h3 class="product-item__vendor">
          <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
        </h3>
      {% endif %}

      <h2 class="product-item__title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h2>
       
      {% if product.available == false %}
        <div class="product-item__sold">
          <span class="flag-sold-out">{{ 'product.labels.sold_out' | t }}</span>
        </div>
     {% endif %}
      
       {% if product.template_suffix != 'release-teaser' %}
		{% include 'price' %}
      {% else %}
      <div class="product-item__price">
      	Release 03/06/2018 8:00
      </div>
      {% endif %}
      

    </div>
    
     <div class="direkt_add_to_basket">
       <form action="/cart/add" method="post" id="product-form-{{ product.id }}">   
        <input type="hidden" name="id" value="{{ product.variants.first.id }}">
        <div class="direct-cart-button-wrapper">
          <button class="button button--primary button--no-disabled-opacity product__add-to-cart" type="submit" name="add">{{ 'product.general.add_to_cart' | t }}</button>
        </div>
      </form>
    </div>
    
  </div>
</div>