{% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
  {% if section.settings.variants_type == 'dropdowns' %}
    {% for option in product.options_with_values %}
      <div class="selector-wrapper js">
        {% unless option.name == 'Default' or option.name == 'Title' %}
          <label>{{ option.name }}</label>
        {% endunless %}
        <div class="select shopify-select">
          <select class="single-option-selector single-option-selector-{{ section.id }}" id="productSelect-option-{{ forloop.index0 }}" data-name="{{ option.name }}" data-option-index="{{ forloop.index0 }}">
            {% for value in option.values %}
              <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
            {% endfor %}
          </select>
          <svg class="shopify-select-icon" viewBox="0 0 24 24"><path d="M21 5.176l-9.086 9.353L3 5.176.686 7.647 12 19.382 23.314 7.647 21 5.176z"></path></svg>
        </div>
      </div>
    {% endfor %}
  {% else %}
    {% for option in product.options_with_values %}
      <div class="radio-wrapper js">
        {% unless option.name == 'Default' or option.name == 'Title' %}
          <label for="SingleOptionSelector-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
        {% endunless %}

        <fieldset class="single-option-radio"
          data-option="option1"
          name="{{ option.name }}"
          id="ProductSelect-option-{{ forloop.index0 }}">
          {% for value in option.values %}
            {% assign variant_label_state = true %}
            {% if product.options.size == 1 %}
              {% unless product.variants[forloop.index0].available  %}
                {% assign variant_label_state = false %}
              {% endunless %}
            {% endif %}
            <input type="radio"
              {% if option.selected_value == value %} checked="checked"{% endif %}
              {% unless variant_label_state %} disabled="disabled"{% endunless %}
              value="{{ value | escape }}"
              name="{{ option.name }}"
              class="single-option-selector-{{ section.id }}{% unless variant_label_state %} disabled{% endunless %}"
              data-option-index="{{ forloop.index0 }}"
              id="ProductSelect-option-{{ option.name }}-{{ value | escape }}">
            <label for="ProductSelect-option-{{ option.name }}-{{ value | escape }}"{% unless variant_label_state %} class="disabled"{% endunless %}>{{ value | escape }}</label>
          {% endfor %}
        </fieldset>
      </div>
    {% endfor %}
  {% endif %}
{% endunless %}

<select name="id" id="productSelect-{{ section.id }}" class="product-variants no-js">
  {% for variant in product.variants %}
    {% if variant.available %}
      <option value="{{variant.id}}" data-sku="{{ variant.sku }}" {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %}>
        {{ variant.title }} - {{ variant.price | money_with_currency }}
      </option>
    {% else %}
      <option disabled="disabled">
        {{ variant.title }} - {{ 'products.product.sold_out_html' | t | strip_html }}
      </option>
    {% endif %}
  {% endfor %}
</select>