{% case grid_items_per_row %}
{% when '1' or 1 %}
    {% assign image_size = '1400x' %}

  {% when '2' or 2 %}
    {% assign image_size = '680x' %}

  {% when '3' or 3 %}
    {% assign image_size = '440x' %}

  {% when '4' or 4 %}
    {% assign image_size = '320x' %}

  {% when '5' or 5 %}
    {% assign image_size = '320x' %}

  {% when '6' or 6 %}
    {% assign image_size = '320x' %}
{% endcase %}



{% if product.first_available_variant.compare_at_price > product.first_available_variant.price %}
  {% assign product_on_sale = true %}
{% else %}
  {% assign product_on_sale = false %}
{% endif %}

{% assign teaser_size ='single' %}
{% for tag in product.tags %}
  {% if tag contains '__big' %}
  	{% assign teaser_size = 'double' %}
	{% assign image_size = '1000x' %}
  {% break %}
  {% endif %}
{% endfor %}



<div class="collection__item product-item {{teaser_size}} {% unless product.available %}product-item--sold-out{% endunless %} ">
  <div class="product-item__inner">
    <div class="product-item__labels">
      {% if product.available and show_quick_shop %}
        <div class="product-item__label product-item__label--hidden">
          <button class="label label--quick-shop" data-action="open-quick-shop" data-quick-shop-url="{{ product.url | append: '?view=quick_shop' }}">
            {% include 'icon' with 'cart-empty' %}{{ 'product.labels.quick_shop' | t }}
          </button>
        </div>
      {% endif %}

      {% for tag in product.tags %}
        {% if tag contains '__label' %}
          <div class="product-item__label">
            <span class="label label--custom">{{ tag | split: '__label:' | last }}</span>
          </div>
          {% break %}
        {% endif %}
      {% endfor %}

      {% if product_on_sale %}
        <div class="product-item__label">
          <span class="label label--on-sale">{{ 'product.labels.on_sale' | t }}</span>
        </div>
      {% elsif product.available == false %}
        <div class="product-item__label">
          <span class="label label--sold-out">{{ 'product.labels.sold_out' | t }}</span>
        </div>
      {% endif %}
    </div>

    <a href="{{ product.url | within: collection }}" class="product-item__image">
      <div class="product-item__image-wrapper">
        {% if teaser_size == 'double' %}
        	<img  src="{{ product.images.last | img_url: image_size,format: 'pjpg' }}" alt="{{ product.images.last.alt | escape }}" />
        {% else %}
        	<img src="{{ product.featured_image | img_url: image_size,format: 'pjpg' }}" alt="{{ product.featured_image.alt }}">
        {% if product.images.size >= 2 %} 
      		<img class="second-product-image" src="{{  product.images[1] |  img_url: image_size,format: 'pjpg' }}" alt="{{ product.featured_image.alt | escape  }}"/>
        {% endif %}
        {% endif %}
      </div>
    </a>

    <div class="product-item__info">
      {% if show_vendor and product.vendor != blank %}
        <h3 class="product-item__vendor">
          <a href="{{ product.vendor | url_for_vendor }}">{{ product.vendor }}</a>
        </h3>
      {% endif %}

      <h2 class="product-item__title">
        <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      </h2>

       {% if product.template_suffix != 'release-teaser' %}
		{% include 'price' %}
      {% else %}
      <div class="product-item__price">
      	RELEASE: 18. Oktober 2019 / 18 Uhr	
      </div>
      {% endif %}

    </div>
  </div>
</div>