
{% if section.settings.show_announcement %}
  <section class="announcement-bar">
    {% if section.settings.link %}
   		<a class="anouncement-link" href="{{section.settings.link}}"> 
    {% endif %}
          
          {% if section.settings.scroll_announcement %}
          <marquee class="announcement__content" behavior="scroll" direction="left" scrollamount="{{ section.settings.scroll__speed }}">{{ section.settings.announcement_text }}</marquee>
          {% else %}
          <span class="announcement__content">{{ section.settings.announcement_text }}</span>
          {% endif %}

    {% if section.settings.link %}
    	</a>
    {% endif %}
      
  </section>
{% endif %}

<style>
  .announcement-bar {
    text-align: {{ section.settings.announcement_text_position }};
    color: {{ section.settings.announcement_color }};
    background: {{ section.settings.announcement_background }};
  }
</style>

{% schema %}
{
  "name": "Announcement bar",
  "class": "shopify-section__announcement-bar",
  "settings": [

    {
      "type": "checkbox",
      "id": "show_announcement",
      "label": "Show announcement",
      "default": true
    },

    {
      "type": "checkbox",
      "id": "scroll_announcement",
      "label": "Scroll announcement",
      "default": false
    },
    {
      "type":      "range",
      "id":        "scroll__speed",
      "min":        1,
      "max":        50,
      "step":       1,
      "unit":       "%",
      "label":     "Scroll Speed",
      "default":   8
    },
    {
      "type": "text",
      "id": "announcement_text",
      "label": "Announcement text",
      "default": "Announce something here"
    },
    {
      "type": "url",
      "id": "link",
      "label": "Link announcement"
    },
    {
      "type": "select",
      "id": "announcement_text_position",
      "label": "Text position",
      "options": [
        {
          "value": "left",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "right",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "color",
      "id": "announcement_color",
      "label": "Text",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "announcement_background",
      "label": "Background",
      "default": "#407ac6"
    }
  ]
}
{% endschema %}