{% layout 'minimal' %}


{%comment %}
  <div class="password__header">
    <h1 class="link-text">
       <span class="password__message">{{ shop.password_message }} </span>
      {%comment %}{{ 'password.general.title' | t }}{% endcomment %}
    </h1>  
  </div>
{% endcomment %}

<div class="wrapper" style="width: 100%;" >
  <div class="centered" style="width:100%">
    <img style="width:100%" class="password-centered-image" src="https://cdn.shopify.com/s/files/1/0445/7650/6006/files/Stoffbruch-FW20-LOOKS-5583_eb59d216-3695-4be8-81cf-eb0aa487a5bf.jpg?v=1599646198" />
    <div class="centered pass-teaser-text" style="width: 100%; text-align: center; font-size: 68px; font-weight: 700; color: #fff"><div>COMING SOON!</div>
          <div class="pass-text" style="width: 100%; text-align: center; margin: 10px 0; font-size: 18px; display: inline-block">
      <span style="color: #000;background-color: rgba(256,256,256,0.8); margin-top: 40px; display: inline-block; padding: 30px; border-radius: 6px;">Hier entsteht die Homepage von Givn BERLIN. <br>Derzeit findest du noch alle Infos unter <a href="https://www.stoffbruch.com/">stoffbruch.com</a></span>
    </div>
    </div>


  </div>
    <div class="password__admin">
    <p class="password__admin-link">{{ 'password.general.admin_link_html' | t }}</p>

    {% form 'storefront_password' %}
      <div class="password__storefront-form {% if form.errors %}password__storefront-form--opened{% endif %}">
        {% if form.errors %}
          <div class="alert alert--error">
            <span class="alert__title">{{ 'general.forms.errors' | t }}</span>
            {% include 'form_errors' %}
          </div>
        {% endif %}

        <div class="form__control">
          <label class="form__label" for="password">{{ 'password.form.enter_password' | t }}</label>
          <input type="password" name="password" size="30" {% if form.errors %}autofocus{% endif %}>
        </div>

        <div class="form__control">
          <input type="submit" class="button button--secondary" value="{{ 'password.form.submit' | t }}">
        </div>
      </div>
    {% endform %}
  </div>
</div>

  



